<div ng-show="isLoggedIn" style="">
	<div class="mdl-grid" style="padding:0px 0px;" ng-init="listCourses()">
		<div class="mdl-cell mdl-cell--12-col" style="padding:8px; background: white;">
			<h1 class="mdl-card__title-text" style="margin:5px;">My Courses</h1>
		</div>
		<div class="mdl-cell mdl-cell--6-col" ng-repeat="course in coursesAsTeacher" ng-if="user.role=='Teacher'" style="">
			<div class="mdl-card mdl-shadow--2dp" style="width:100%; min-height:auto;">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">{{course.name}}</h2>
				</div>
				<div class="mdl-card__supporting-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-height: 18px;">{{course.description}}</div>
				<div class="mdl-card__actions mdl-card--border" style="text-align:right;">
					<a class="mdl-button mdl-button--raised mdl-button--primary mdl-js-button mdl-js-ripple-effect" href="#!/course/{{course.id}}">	
						View 
					</a>
				</div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--6-col" ng-repeat="course in coursesAsStudent" ng-if="user.role=='Student'" style="">
			<div class="mdl-card mdl-shadow--2dp" style="width:100%; min-height:auto;">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">{{course.name}}</h2>
				</div>
				<div class="mdl-card__supporting-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-height: 18px;">{{course.description}}</div>
				<div class="mdl-card__actions mdl-card--border" style="text-align:right;">
					<a class="mdl-button mdl-button--raised mdl-button--primary mdl-js-button mdl-js-ripple-effect" href="#!/course/{{course.id}}">	
						View 
					</a>
				</div>
			</div>
		</div>
	</div>

</div>
